<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">




<div class="page-width krc-wrapper_{{section.id}}">


{% comment %}
  <div class="page_title">
      <h1 {% if section.settings.headertextalignment-club == "center" %}style="margin-left:auto; margin-right:auto;"{% endif %} class="page-h1_{{section.id}}">{{page.title}}</h1>
  </div>
{% endcomment %}  

  <div class="rte krc_rte_{{section.id}}">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "fit-the-page",
  "settings": [
  {
            "type": "header",
            "content": "Header Options"
          },
          {
            "type": "select",
            "id": "headertextalignment-club",
            "label": "Text Alignment Options",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left Align"
              },
              {
                "value": "center",
                "label": "Center Align"
              },
              {
                  "value": "right",
                  "label": "Right Align"
                }
            ]
          }
  

      ]
}
{% endschema %} 


<style>
  .page-h1_{{section.id}}{
    text-align:{{section.settings.headertextalignment}} !important;
  }
  .krc-wrapper_{{section.id}}{
    margin-top:136px;
  }
  .krc_rte_{{section.id}}{
     width:100%;
     max-width: unset;
  }

.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style * 
{

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


  
  @media (max-width: 812px){
    .krc-wrapper_{{section.id}}{
    margin-top:98px;
  }
  }
</style>
